*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    margin: 50px auto;
    width: 560px;
    border: 1px solid gray;
    border-radius: 10px;
    /* padding: 20px; */
}

.box-title{
    height: 50px;
    background-color: rgb(74, 197, 74);
    border-radius: 10px 10px 0 0;
    display: flex;
  align-items: center;
  justify-content: center;
}

.title{
    color: white;
    
}

.form{
    padding: 20px;
}

input{
    margin: 5px 0 15px 0;
    
}

#firstName, 
#secondName, 
#emailAddress, 
#emailAddress {
    width: 500px;
    height: 35px;
}

#button{
    width: 500px;
    height: 40px;
    background-color: rgb(74, 197, 74);
    border: 1px solid rgb(74, 197, 74);
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

